- fail:
    msg: 'system_task_service_name variable has to be set with --extra-vars "system_task_service_name=php7.0-fpm"'
  when: system_task_service_name == ''

- name: Restart system service - {{ system_task_service_name }}
  service:
    name: '{{ system_task_service_name }}'
    state: "{{ 'reloaded' if system_task_service_reload else 'restarted' }}"
